<div>
    <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light">
        <div class="flexy">
            <h3 class="uk-card-title">{{todo?.title}}</h3>
            <button class="uk-close-large" type="button" (click)="deleteTodo(todo)" uk-close></button>
        </div>
        <p>{{todo?.description}}</p>
        <div class="flex-between">
        <button class="uk-button uk-button-default round" (click)="detailClick()">Dettaglio</button>
        <a class="uk-button uk-button-default round" (click)="toggleBtn()"><i [ngClass]="toggle?'fas fa-user-minus':'fas fa-user-plus'" ></i></a>
      </div>
    </div>
</div>
<hr class="uk-divider-icon">
