<form [formGroup]="todoForm" (ngSubmit)="confirmChanges()">
    <app-input-text formControlName="title" [label]="'Titolo'"></app-input-text>
    <app-input-text formControlName="description" [label]="'Descrizione'"></app-input-text>
    <div formArrayName="steps">
        <ng-container *ngIf="stepsArray.length > 0">
            <div *ngFor="let step of todo.steps; let i=index" [formGroupName]="i">
                <input class="uk-checkbox" type="checkbox" formControlName="done">
                <app-input-text formControlName="title" [label]="'Titolo Step'"></app-input-text>
                <button>Rimuovi Step</button>
            </div>
        </ng-container>
        <button (click)="addStepToForm()">Aggiungi Step</button>
    </div>
    <button (click)="cancel()">Annulla</button>
    <button type="submit" [disabled]="todoForm.invalid">Conferma</button>
</form>